@import '~bootstrap/scss/bootstrap';

.top-main {
  background-image: url(../images/5c49e343756b8ad76f12c96080eb53e9_w.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
