<div class="card">
    <%= image_tag "/017kumakichi0327_TP_V.jpg", class: "card-img" %>
    <div class="card-img-overlay">
        <h5 class="card-title">旅に出かけよう！</h5>
        <%= render "shared/search_form" %>
    </div>
</div>
