<ul>
  <li><%= link_to "アカウント", account_path %></li>
  <li><%= link_to "プロフィール", profile_path %></li>
</ul>

<div class="user-view-box">
    <div class="update-content">
        <div class="row">
            <h5>アカウント</h5>
        </div>
    </div>

    <div class="update-content">
        <div class="row">
            <label class="col-md-3" for="email">メールアドレス</label>
            <div><%= current_user.email %></div>
        </div>
    </div>

    <div class="update-content">
        <div class="row">
            <label class="col-md-3" for="password">パスワード</label>
            <div>***************************</div>
        </div>
    </div>

    <div class="update-content">
        <div class="row">
            <div><%= link_to "編集", edit_user_registration_path %></div>
        </div>
    </div>
</div>